<div class="row">
  <div class="col-md-6">
    <h3>May 18</h3>
    <table class="table table-striped">
      <tr> <td>10:30</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">1. Basic syntax</a><br/><em>Where do I start?</em></td> </tr>
      <tr> <td>11:00</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">2. Scripts and imports</a><br/><em>What is a Python program?</em></td> </tr>
      <tr> <td>11:30</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">3. Numpy arrays and lists</a><br/><em>How do we store large amounts of data?</em></td> </tr>
      <tr> <td>12:00</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">4. Storing data with dicts</a><br/><em>How do I store structured data?</em></td> </tr>
      <tr> <td>12:30</td> <td><em>Lunch</em></td> </tr>
      <tr> <td>13:30</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">5. Functions and Conditions</a><br/><em>How do I write functions?</em></td> </tr>
      <tr> <td>14:00</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">6. Introduction to parallel computing</a><br/><em>How do I run code in parallel?</em></td> </tr>
      <tr> <td>14:30</td> <td><em>Break</em></td> </tr>
      <tr> <td>14:45</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">7. Introduction to Snakemake</a><br/><em>How can I make my results easier to reproduce?</em></td> </tr>
      <tr> <td>15:10</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">8. Snakefiles</a><br/><em>How do I write a simple workflow?</em></td> </tr>
    </table>
  </div>

    <div class="col-md-6">
    <h3>May 20</h3>
    <table class="table table-striped">
      <tr> <td>10:30</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">9. Wildcards</a><br/><em>How can I abbreviate the rules in my pipeline?</em></td> </tr>
      <tr> <td>11:00</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">10. Pattern Rules</a><br/><em>How can I define rules to operate on similar files?</em></td> </tr>
      <tr> <td>11:30</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">11. Snakefiles are Python code</a><br/>
        <em>How can I automatically manage dependencies and outputs?<br/>
        How can I use Python code to add features to my pipeline?</em></td> </tr>
      <tr> <td>12:00</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">12. Resources and parallelism</a><br/>
        <em>How do I scale a pipeline across multiple cores?<br/>
        How do I manage access to resources while working in parallel?</em></td> </tr>
      <tr> <td>12:30</td> <td><em>Lunch</em></td> </tr>
      <tr> <td>13:30</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">13. Scaling a pipeline across a cluster</a><br/><em>How do I run my workflow on an HPC system?</em></td> </tr>
      <tr> <td>14:15</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">14. Final notes</a><br/><em>What are some tips and tricks I can use to make this easier?</em></td> </tr>
      <tr> <td>15:00</td> <td><a href="https://www.hpc-carpentry.org/hpc-python/">Finish</a></td> </tr>
    </table>
  </div>
</div>
